@import url("https://use.typekit.net/qhl5wkv.css");
@import url("https://use.typekit.net/qhl5wkv.css");

$base-color: #fbefd5;

* {
    font-family: trajan-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background: $base-color;
    overflow: hidden;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #533932;
}

.content {
    margin: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 5fr;

    section:nth-child(1) {
        padding: 0 20%;
    }

    section:nth-child(2) {
        height: auto;
        background: #fff;
        overflow: hidden;
        -webkit-box-shadow: inset 0px 79px 26px -76px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 79px 26px -76px rgba(0,0,0,0.5);
        box-shadow: inset 0px 79px 26px -76px rgba(0,0,0,0.5);
    }
}

.title {
    margin-top: 2rem;
    font-size: 3rem;
    font-family: trajan-pro-3, serif;
    font-weight: 600;
    font-style: normal;
}

.headline {
    opacity: .7;
    margin: 2rem;
}

.results {
    font-size: 4rem;
    transition: ease-in-out 0.2s;
    text-align: center;
    margin-top: 2rem;

    span {
        margin-bottom: .25rem;
    }

    span:nth-child(even) {
        //background: lightgray;
    }
}

.input-group {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    width: inherit;
    margin-bottom: 1rem;

    select, button {
        height: 56px;
        border: none;
        box-sizing: border-box;
        border-radius: 12px;
        font-size: 1rem;
        cursor: pointer;
        transition: ease-in-out 0.2s;
    }

    select {
        padding-left: 1rem;
        border: 1px solid #dddddd;
        background: white;
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0, 50,50" style="fill:%23000000;" /></svg>');
        background-position: right 1rem top 50%;
        background-repeat: no-repeat;
        background-size: 10px;
    }

    select:hover,
    select:focus {
        outline: none;
        border: 1px solid #bbbbbb;
    }

    button {
        color: $base-color;
        background: #365f5e;
        padding: 20px;
        line-height: 50%;
    }

    button:focus {
        outline: none;
    }

    button:hover {
        background: #447977;
    }

    button:disabled {
        background: gray;
        cursor: default;
    }
}

.options-group {
    text-align: left;
    margin-bottom: 1rem;

    input {
        margin-right: 1rem;
    }
}

.footer {
    text-align: left;
    position: absolute;
    bottom: 0;
    padding: 0 20%;
    background: #0f0f0f;
    width: 100%;
    box-sizing: border-box;
    color: #fff;

    p {
        font-size: .75rem;
        opacity: .5;

        a {
            color: inherit;
        }
    }
}

@media screen and (max-width: 480px) {
    .content {
        width: 100%;

        section:nth-child(1) {
            padding: 0 .5rem;
        }
    }
  
    .title {
      margin: 0;
      font-size: 2rem;
    }

    .headline {
        margin-top: 0;
        font-size: 1rem;
    }

    .input-group {
        grid-template-columns: 1fr;
    }

    .results {
        font-size: 3rem;
    }
}